@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&family=Josefin+Sans:wght@300;400&display=swap");
#flexFormFlow, #tablaPedidos tr td, main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#tablaPedidos th h1, main h1, header h1 {
  background: radial-gradient(circle, rgba(233, 51, 157, 0.5) 13%, rgba(245, 50, 157, 0.5) 40%, rgba(228, 68, 233, 0.5) 64%, rgba(214, 45, 248, 0.5) 100%), url(../img/textura-grunge-3.jpg);
  line-height: 2rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  color: rgb(37, 7, 105);
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(circle, rgba(255, 59, 145, 0.2637429972) 24%, rgba(226, 105, 48, 0.3169642857) 68%), url(../img/textura-papel.jpg);
  font-family: "Josefin Sans", sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btnSubmit {
  border: solid 1px rgba(78, 4, 152, 0.5490196078);
  border-radius: 10px;
  color: rgb(105, 18, 187);
  background-color: rgba(167, 88, 246, 0.2588235294);
  height: auto !important;
}

.btnSubmit:hover {
  border: solid 1px rgba(114, 93, 134, 0.5490196078);
  border-radius: 10px;
  color: rgb(230, 200, 213);
  background-color: rgba(108, 27, 189, 0.5254901961);
}

.contactoInputs {
  width: 40vw;
  height: 100%;
  font-size: 1rem;
}

.botonFileUp {
  border: solid 3px rgb(105, 18, 187);
  border-radius: 8px;
  color: rgb(105, 18, 187);
  background-color: none;
  padding: 8px 20px;
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  width: 15vw;
  box-shadow: rgba(55, 40, 66, 0.1) 0px 8px 24px, rgba(102, 20, 65, 0.153) 0px 16px 56px, rgba(127, 66, 49, 0.192) 0px 24px 80px;
}

.inputFileUp {
  border: #9C004D solid 3px;
  border-radius: 8px;
  color: #9C004D;
  background-color: none;
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 19px !important;
  font-weight: 700;
  height: 20vh !important;
  width: fit-content;
  align-self: center;
  justify-self: center;
}

.bgMagenta {
  background-color: rgb(216, 33, 186);
}

.bgCrimson {
  background-color: rgba(206, 30, 103, 0.836);
}

.bgPurple {
  background-color: rgba(145, 38, 233, 0.726);
}

.bgPink {
  background-color: rgb(233, 80, 131);
}

@keyframes aparicionNav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes entradaMapa {
  0% {
    transform: translateX(-900px);
    border: rgba(67, 5, 129, 0) solid 3px;
  }
  50% {
    transform: translateX(0px);
    border: rgba(67, 5, 129, 0.1450980392) solid 3px;
  }
  75% {
    border: rgba(67, 5, 129, 0.5490196078) solid 3px;
  }
  100% {
    border: #430581 solid 3px;
  }
}
@keyframes aparicionFooter {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
nav {
  background: #e4305a;
  background: linear-gradient(34deg, #e4305a 0%, #f16330 40%, #e753b1 80%);
  background: -webkit-linear-gradient(34deg, #e4305a 0%, #f16330 40%, #e753b1 80%);
  background: -moz-linear-gradient(34deg, #e4305a 0%, #f16330 40%, #e753b1 80%);
  margin: auto;
  box-shadow: 0px 10px 30px 10px rgba(151, 86, 121, 0.75);
  -webkit-box-shadow: 0px 10px 30px 10px rgba(151, 86, 121, 0.75);
  -moz-box-shadow: 0px 10px 30px 10px rgba(151, 86, 121, 0.75);
  animation-name: aparicionNav;
  animation-duration: 1s;
  animation-timing-function: normal;
}
nav div a img {
  width: 100%;
  height: 15vh;
}
nav ul {
  list-style: none;
}
nav ul li {
  font-family: "Amatic SC", cursive;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}
nav ul li a {
  text-decoration: none;
  color: antiquewhite;
  display: inline-block;
  padding: 3vh 2vh;
  height: auto;
}
nav ul li a:hover {
  border: 2px groove rgb(211, 127, 244);
  border-radius: 5px;
  color: beige !important;
  background-color: none;
  background: rgba(79, 33, 165, 0.363);
}

footer {
  background-color: rgba(241, 21, 94, 0.7803921569);
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  animation-name: aparicionFooter;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  position: relative;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
}
footer h3 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: rgb(248, 201, 114);
  display: block;
  padding: 0;
  margin: 10px;
  line-height: 20px;
}
footer h3 a {
  text-decoration: none;
  display: block;
  color: rgb(105, 18, 187);
}
footer h3 a:hover {
  text-decoration: underline;
  color: rgb(47, 11, 146);
}
footer img {
  width: 2rem;
  height: auto;
  margin: 0 1rem;
}

.flexContainerFooter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: "Indie Flowers", cursive;
  font-size: 3rem;
  text-align: center;
  margin: 4rem;
  border: double 3px #9C004D;
  border-radius: 5px;
  height: 10vh;
}

main article figure img {
  width: 25%;
  height: 25%;
  border: rgb(105, 18, 187) 2px solid;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 50%;
}
main article figcaption {
  font-size: 1, 2vw;
  padding: 2vh 2vw;
  box-shadow: rgba(36, 9, 100, 0.895) 1px 2px 2px 3px;
  border-radius: 20%;
  line-height: 2rem;
}

main h1 {
  font-family: "Indie Flowers", cursive;
  font-size: 3rem;
  text-align: center;
  margin: 5rem 5rem;
  height: 10vh;
  width: 50vw;
}

.containerCar {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px outset;
  border: solid 5px #fdefc1;
  border-radius: 10px;
  color: rgb(105, 18, 187);
  background-color: rgba(167, 88, 246, 0.2588235294);
}

.sizeCar {
  height: 70vh;
  width: 60vw;
}

.serviciosList {
  border: double 5px rgb(134, 10, 124);
  border-radius: 25%;
  color: black;
  background-color: none;
  font-size: 20px;
  line-height: 40px;
  width: 70vw;
  margin-top: 2rem;
}

.serviciosDesplazamientoIzq {
  align-self: flex-start;
}

.serviciosDesplazamientoDer {
  align-self: flex-end;
}

.serviciosImg {
  width: 80vw;
  height: 20vh;
  box-shadow: rgba(64, 9, 151, 0.671) 0px 0px 0px 2px, rgba(124, 6, 148, 0.705) 0px 4px 6px -1px, rgba(184, 8, 8, 0.753) 0px 1px 0px inset;
}

#tablaPedidos {
  width: 99%;
  margin: 1rem auto;
  background-image: linear-gradient(rgba(234, 188, 255, 0.466), rgba(164, 51, 250, 0.219)), url(../img/textura-acuarela.jpg);
  background-size: cover;
  background-position: center;
}
#tablaPedidos th {
  display: flex;
  width: 99vw;
  justify-content: center;
}
#tablaPedidos th h1 {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  width: 50vw;
}
#tablaPedidos tr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
#tablaPedidos tr td {
  margin: 30px;
  border: rgba(78, 11, 117, 0.4666666667) solid 2px;
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  width: auto;
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
#tablaPedidos tr td img {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#tablaPedidos input[type=number] {
  height: 3vh;
  width: 90%;
  font-family: "Indie Flowers", cursive;
  font-size: 2vh;
  padding: 5px;
}
#tablaPedidos td div label {
  margin: 10px 5px;
}
#tablaPedidos img {
  width: 15vw;
  height: auto;
}

.entradaMapa {
  animation-name: entradaMapa;
  animation-duration: 4s;
  animation-timing-function: ease-out;
}

.ubicacionFlex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

main section h2 {
  font-family: "Indie Flowers", cursive;
  color: #9C004D;
  text-align: center;
}
main section h3 {
  font-family: "Amatic SC", cursive;
  color: #9C004D;
  text-align: center;
}
main section iframe {
  border: rgb(105, 18, 187) solid 3px;
  width: 60vw;
  height: 60vh;
  border-radius: 20px;
}

#faq {
  max-width: 700px;
  margin: auto;
  padding: 0 15px;
  text-align: center;
}

section.faq {
  padding-top: 2em;
  padding-bottom: 3em;
}

#faq ul {
  text-align: left;
}

.transition, p, ul li i:before, ul li i:after {
  transition: all 0.3s;
}

#faq .no-select, #faq h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

#faq h1 {
  color: #000;
  margin-bottom: 30px;
  margin-top: 0;
}

#faq h2 {
  color: #cc071e;
  font-family: "hm_light", sans-serif;
  font-size: 20px;
  line-height: 34px;
  text-align: left;
  padding: 15px 15px 0;
  text-transform: none;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
  transition: 0.2s;
}

#faq p {
  color: #333;
  text-align: left;
  font-family: "hm_light", sans-serif;
  font-size: 14px;
  line-height: 1.45;
  position: relative;
  overflow: hidden;
  max-height: 250px;
  will-change: max-height;
  contain: layout;
  display: inline-block;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0 50px 0 15px;
  transition: 0.3s opacity, 0.6s max-height;
  hyphens: auto;
  z-index: 2;
}

#faq ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}

#faq ul li {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /*padding-bottom: 4px;*/
  /*padding-top: 18px;*/
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  -webkit-tap-highlight-color: transparent;
}

#faq ul li + li {
  margin-top: 15px;
}

#faq ul li:last-of-type {
  padding-bottom: 0;
}

#faq ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 28px;
  right: 15px;
}

#faq ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #cc071e;
  width: 3px;
  height: 9px;
}

#faq ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

#faq ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

#faq ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  touch-action: manipulation;
}

#faq ul li input[type=checkbox]:checked ~ h2 {
  color: #000;
}

#faq ul li input[type=checkbox]:checked ~ p {
  /*margin-top: 0;*/
  max-height: 0;
  transition: 0.3s;
  opacity: 0;
  /*transform: translate(0, 50%);*/
}

#faq ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}

#faq ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

#flexFormFlow {
  width: 90%;
}
#flexFormFlow h1,
#flexFormFlow h2 {
  border: #9C004D solid 3px;
  border-radius: 10px;
  color: #9C004D;
  background-color: none;
  font-size: 2rem;
  background-color: rgba(250, 234, 215, 0.563);
  height: 10vh;
}
#flexFormFlow h1 {
  align-self: center;
  width: 85%;
}
#flexFormFlow div label {
  color: #9C004D;
}
#flexFormFlow div label, #flexFormFlow div select, #flexFormFlow div input {
  font-size: 20px;
}
#flexFormFlow div div div {
  width: 50%;
}
#flexFormFlow input:not([type=radio]) {
  height: 3vh;
}
#flexFormFlow textarea {
  width: 50vw;
  height: 40vh;
  resize: none;
  font-size: 18px;
  outline: none;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
#flexFormFlow h3 {
  border: rgb(105, 18, 187) solid 1px;
  border-radius: 33px;
  color: rgb(105, 18, 187);
  background-color: none;
  background: rgba(197, 20, 58, 0.5);
  background: linear-gradient(131deg, rgba(197, 20, 58, 0.5) 20%, rgba(180, 16, 130, 0.5) 60%, rgba(255, 0, 131, 0.5) 99%);
  background: -webkit-linear-gradient(131deg, rgba(197, 20, 58, 0.5) 20%, rgba(180, 16, 130, 0.5) 60%, rgba(255, 0, 131, 0.5) 99%);
  background: -moz-linear-gradient(131deg, rgba(197, 20, 58, 0.5) 20%, rgba(180, 16, 130, 0.5) 60%, rgba(255, 0, 131, 0.5) 99%);
}

@media only screen and (max-width: 1112px) {
  #tablaPedidos tr td {
    font-size: 35px;
  }
}
@media only screen and (max-width: 1062px) {
  #tablaPedidos tr {
    grid-template-columns: 1fr 1fr;
  }
  #tablaPedidos img {
    width: 20vw;
  }
  .sizeCar {
    height: 70vh;
    width: 80vw;
  }
}
@media only screen and (max-width: 868px) {
  main h1 {
    font-size: 35px;
  }
  nav ul li {
    font-size: 23px;
  }
  #flexFormFlow h1 {
    font-size: 28px;
    width: 85%;
  }
}
@media only screen and (max-width: 832px) {
  .flexContainerFooter {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    margin: auto;
  }
  main article figure img {
    width: 30%;
    height: 30%;
  }
  .serviciosList {
    align-self: center;
    padding: 25px !important;
  }
  .sizeCar {
    width: 80vw;
    height: 60vh;
  }
}
@media only screen and (max-width: 768px) {
  #flexFormFlow .botonFileUp {
    width: 50vw;
  }
  #flexFormFlow textarea {
    width: 90%;
  }
  div div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  #tablaPedidos tr {
    grid-template-columns: 1fr;
  }
  #tablaPedidos img {
    width: 30vw;
  }
  .serviciosImg {
    width: 100%;
    height: 15vh;
  }
}
@media only screen and (max-width: 625px) {
  main h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 622px) {
  header h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 556px) {
  header h1 {
    font-size: 35px;
  }
  main h1 {
    font-size: 24px;
  }
  .sizeCar {
    width: 90vw;
    height: 50vh;
  }
  #flexFormFlow h2 {
    width: 70vw;
    font-size: 24px;
    text-align: center;
  }
}
@media only screen and (max-width: 476px) {
  #flexFormFlow h2 {
    width: 70vw;
    font-size: 24px;
    text-align: center;
  }
  .inputFileUp {
    width: 100%;
    margin: 0 !important;
  }
}
@media only screen and (max-width: 455px) {
  header h1 {
    font-size: 30px;
  }
  .serviciosList {
    width: 90vw;
    margin: 1rem 0 !important;
  }
  #tablaPedidos th h1 {
    font-size: 2rem;
  }
  select {
    width: 40vw;
  }
}
@media only screen and (max-width: 359px) {
  #tablaPedidos th {
    font-size: 3rem;
  }
  #tablaPedidos tr td {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 349px) {
  #flexFormFlow h2 {
    width: 60%;
    font-size: 19px;
  }
}

/*# sourceMappingURL=main.css.map */
