@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&family=Josefin+Sans:wght@300;400&display=swap');



/* ETIQUETAS GENERALES */
*{ 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    font-family:'Josefin Sans', sans-serif;
}

body {
    background-image:url(../img/textura-papel.jpg)
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}


/* NAVBAR */
nav {
    background-color: #FF9BAC;
    margin:auto;
    width:100vw;
} 
nav ul{
    list-style: none;
    }

nav ul li{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;

} 

nav ul li a{
    text-decoration: none;
    color: antiquewhite;
    display:inline-block;
    margin:3vh 5vw;
    padding: 3vh 2vh; 
    height:auto;
}
nav ul li a:hover {
    color:rgb(171, 120, 219);
    text-shadow: 2px 2px 0 #9C004D;
    border: groove 2px #430581;
    border-radius: 5px; 

}



@media only screen and (max-width:1095px) {
    nav ul li a {
        padding: 0;
        margin: 40px;
        font-size: 2rem;
    }
}

@media only screen and (max-width:723px) {
    nav ul li a {
        padding: 0;
        margin:30px;
    }
}

@media only screen and (max-width:632px) {
    nav ul li a {
        padding:0;
        margin:20px;
    }
}


@media only screen and (max-width:552px) {
    nav ul li {
        padding: 0;
        margin:0px;
        font-size:20px;
    }
}



/* FOOTER */
footer {
    width:100%;
    background-color: #f1155ec7;
    position:sticky;
    left:0;
    bottom:0;
    margin-top:1rem;
}
footer h3 {
    font-size: 20px;
    color:rgb(248, 201, 114);
    display:block;
    padding:0;
    margin:10px;
    text-align:center;
    line-height: 20px;
}

footer h3 a {
    text-decoration:none;
    display:block;
    color:rgb(107, 8, 116);
}
footer h3 a:hover{
    text-decoration:underline;
    color:rgb(161, 10, 175);
}

footer img {
    width:2rem;
    height:auto;
    margin:0 1rem;
}

.flexContainerFooter {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
} 


@media only screen and (max-width: 832px)
    {
        .flexContainerFooter{
            flex-direction: column;
            width:100%;
            height:auto;
            align-items: center;
            margin: auto;
        }
    }

@media only screen and (max-width: 832px)
{
    footer{
        flex-direction: column;
        width:100%;
        height:16vh;
    }
}



/* FORM */

.flexContainerForm {
    display:flex;
    flex-flow:column wrap;
    margin:2rem;
    align-items: center;
}

.flexContainerForm h1 {
    margin-bottom: 10px;
}

.flexContainerForm h2 {
    padding:5px;
    margin:2px;
    border:#d1ab03 solid 2px;
    width:fit-content;
}

.flexContainerForm h3 {
    margin-top: 2rem;
    margin-bottom:10px;
    text-decoration: underline;
    color:purple;
}

.flexContainerForm input {
    padding: 5px 10px;
}

.flexContainerForm input, select {
    width:fit-content;
    margin-bottom:2rem;
    margin-left:10px;
}

.flexContainerForm textarea {
    width: 100%;
    height:40vh;
    resize: none;
    font-size:18px;
}

.flexContainerForm select {
    width:5vw;
    height:3vh;
}

.flexContainerForm label {
    margin:10px;
}

/* CLASES */

/* DISPLAY */

.displayBlock {
    display:block;
}

.displayInline {
    display:inline;
}

.displayInlineBlock {
    display:inline-block;
}

.displayGrid {
    display:grid;
}

.displayFlex {
    display:flex;
}

.displayNone {
    display:none;
}

/* TEXTO */
.textAmatic {
    font-family: 'Amatic SC', cursive;
}

.textLarge {
    font-size: 4rem;
}

.textMedium {
    font-size: 3rem;
}

.textCenter {
    text-align:center;
}

.textMedium2 {
    font-size:2rem;
}

.textSmall {
    font-size:20px;
}

.textUnderline {
    text-decoration: underline;
}

/*colores */
.bgCyan {
    background-color: cyan;
}

.bgCrimson {
    background-color: rgb(173, 13, 80);
}

.bgPink {
    background-color: rgb(219, 110, 146);
}

.bgPurple {
    background-color: rgb(113, 43, 170);
}

.bgGreen {
    background-color: rgb(189, 224, 63);
}

.bgBlue {
    background-color: rgb(58, 119, 233);
}

.bgOrange {
    background-color: rgb(255, 145, 0);
}

.bgBeige {
    background-color: beige;
}

.bgRPink {
    background-color: rgba(202, 23, 107, 0.699);
}
.colorPurple {
    color:rgb(88, 8, 179);
}

.colorCrimson {
    color:#9C004D
}

/* clases complejas */

.headLogo {
    width: 100%;
    height:9rem;
    display:inline-block;

}

.mainTitle {
    font-family: 'Amatic SC', cursive;
    font-size: 8rem;
    word-wrap:break-word;
    text-decoration: underline;
    text-align:center;
    padding: 1rem 2rem;
    width:50%;
    margin:0 auto;
    border:#0906c573 5px solid;
}

.flexContainerPrincipal{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
} 




nav {
    animation-name: aparicionNav;
    animation-duration: 1s;
    animation-timing-function: normal;
}



/*INDEX*/

header h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 5rem;
    text-align: center;
    margin:3rem 5rem;
    border:double 3px #9C004D;
    border-radius: 5px;
    background-image: url(../img/textura-grunge-3.jpg);
}

main article {
    width: 100%;
}

main article figure {
    display:flex;
    align-items: center;
    width:100%;

}

main article figure img {
    width:30rem;
    border: #430581 2px solid;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 50%;
    margin: 0;
}

main article figcaption {
    font-size:1,2vw;
    padding: 2vh 2vw;
    box-shadow: rgba(36, 9, 100, 0.895) 1px 2px 2px 3px;
    border-radius: 20%;
    line-height: 2rem;
    overflow-y: hidden;
}

.gridIndexMain {
    display:grid;
    width:100vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:auto;
    column-gap:10%;
    
}

@media only screen and (max-width:1024px) {
    
    .gridIndexMain {
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows:auto;
    }
    
    .gridIndexMain article
    
    .gridIndexMain article {
        padding: 2rem 3rem;
        margin:2rem 4rem;
        width:100%;
    }
    
    .gridIndexMain article img {
        width:20rem;
    }
    
    .gridIndexMain article figcaption {
        font-size:1rem;
    }
    
}

@media only screen and (max-width:735px) {
    header h1 {
        font-size: 4rem;
    }
    
}

@media only screen and (max-width:621px) {
    header h1 {
        font-size: 3rem;
    }
    
}

@media only screen and (max-width:508px) {
    header h1 {
        font-size: 2rem;
    }
    
}

/* SERVICIOS */

.serviciosList{
    border: double 5px rgb(134, 10, 124);
    border-radius: 25%;
    width: 45%;
    padding: 2rem;
    margin: 2rem;
    list-style: none;
    font-size: 24px;
}

.serviciosImg {
    border: rgb(64, 196, 248) 10px double;
    width:50%;

}

.serviciosDesplazamientoDer {
    transform:translate(10rem, 0);
}
.serviciosDesplazamientoIzq {
    transform:translate(-10rem, 0);
}

/* PEDIDO */

input [type=radio] {
    display: none;
}

#tablaPedidos {
    width: 100%;
    margin:1rem auto;
    border:rgb(83, 6, 184) solid 3px;
    background-image: linear-gradient(rgba(234, 188, 255, 0.466), rgba(164, 51, 250, 0.219) ), url(../img/textura-acuarela.jpg);
    background-size:cover;
    background-position:center;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(2 1fr);
}


#tablaPedidos th{
    border: rgb(146, 102, 196) solid 3px;
    background: rgb(209,88,106);
background: radial-gradient(circle, rgba(209,88,106,1) 13%, rgba(227,107,165,1) 40%, rgba(238,135,102,1) 64%, rgba(255,61,0,1) 100%);
    font-size:4rem;
    line-height:2rem;
    padding:10px;
    text-align: center;
    width:100vw;
    font-family: 'Amatic SC', cursive;
    height: 9vh;
    grid-area: 1/2;

}

#tablaPedidos  tr {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: auto;

}

#tablaPedidos tr td {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin:30px;
    border-right:#000 solid 3px;
    border: #000 solid 3px;
    width: auto;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color:#000000;
    text-align: center;
}

#tablaPedidos td div label, input {
    margin-top:2rem;
}

#tablaPedidos img {
    width:9rem;
    height:auto;

} 


.botonFileUp {
    border: solid 3px rgb(74, 18, 157);
    color: rgb(74, 18, 157);
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 2rem;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    width:20vw;
    box-shadow: rgba(55, 40, 66, 0.1) 0px 8px 24px, rgba(102, 20, 65, 0.153) 0px 16px 56px, rgba(127, 66, 49, 0.192) 0px 24px 80px;

}

@media only screen and (max-width:1062px) {
#tablaPedidos tr {
    grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:711px) {
    #tablaPedidos tr {
        grid-template-columns: 1fr;
        }
    }

@media only screen and (max-width:359px) {
        #tablaPedidos th {
            font-size: 3rem;
        }
        #tablaPedidos tr td {
            font-size:2rem;
            }
        }

/* Ubicación */

main section h2 {
    margin: 1rem;
}


main section iframe {
    border:#430581 solid 3px;
    width:50vw;
    height:70vh;
    border-radius: 20px;
}















