@keyframes aparicionNav {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes entradaMapa {
    0% {
        transform: translateX(-900px);
        border:#43058100 solid 3px;
    }
    50% {
        transform: translateX(0px);
        border:#43058125 solid 3px;
    }
    
    75% {
        border:#4305818c solid 3px;
    }

    100% {
        border:#430581 solid 3px;
    }

}

@keyframes aparicionFooter {
    0% {
        transform:scale(0);
    }

    100% {
        transform:scale(1);
    }
}