
@media only screen and (max-width:1112px) {
    #tablaPedidos {
        tr {
            td {
                font-size: 35px;
            }
        }
    }
}

@media only screen and (max-width:1062px) {
    #tablaPedidos {
        tr {
        grid-template-columns: 1fr 1fr;
        }
    } 
    #tablaPedidos { 
        img {
            width: 20vw;
        }
    } 
    .sizeCar {
        height:70vh;
        width: 80vw;
    }
}

@media only screen and (max-width: 868px) {
    main {
        h1 {
            font-size: 35px;
        }
    }
    nav {
        ul {
            li {
                font-size: 23px;
            }
        }
    }
    #flexFormFlow {
        h1 {
            font-size: 28px;
            width: 85%;
        }
    }
}

@media only screen and (max-width: 832px){
        .flexContainerFooter{
            flex-direction: column;
            width:100%;
            height:auto;
            align-items: center;
            margin: auto;
        }
        main {
            article{
                figure{
                    img{
                        width:30%;
                        height:30%;
                    }
                }
            }
        }
        .serviciosList {
            align-self: center;
            padding:25px!important;
        }
        .sizeCar {
            width: 80vw;
            height: 60vh;
        }
    }

    @media only screen and (max-width: 768px) {
        #flexFormFlow {
            .botonFileUp {
                width: 50vw;
            }
            textarea {
                width: 90%;
            }
        }   
            div {
                div {
                    @include flex (flex, column nowrap, center, center);
                    }
                }
            
        #tablaPedidos{ 
            tr {
                grid-template-columns: 1fr;
            }
        }
        #tablaPedidos{ 
            img {
                width: 30vw;
            }
        }
        .serviciosImg {
            width: 100%;
            height: 15vh;
        }
    }


    @media only screen and (max-width:625px) {
        main {
            h1 {
                font-size: 30px;
            }
        }
    }

@media only screen and (max-width:622px) {
    header{
        h1{
            font-size: 3rem;
        }
    }
}

@media only screen and (max-width:556px) {
    header{
        h1{
            font-size: 35px;
        }
    }
    main {
        h1 {
            font-size: 24px;
        }
    }
    .sizeCar {
        width: 90vw;
        height: 50vh;
    }
    #flexFormFlow {
        h2 {
            width:70vw;
            font-size: 24px;
            text-align: center;
        }
    }
}

@media only screen and (max-width:476px) {
    #flexFormFlow {
        h2 {
            width:70vw;
            font-size: 24px;
            text-align: center;
        }
    }
    .inputFileUp {
        width: 100%;
        margin:0!important;
    }
}

@media only screen and (max-width:455px) {
    header {
        h1 {
            font-size: 30px;
        }
    }
    .serviciosList {
        width: 90vw;
        margin:1rem 0!important;
    }
    #tablaPedidos{
        th {
            h1 {
                font-size:$textoMD;
            }
        }
    }
        select {
            width:40vw;
        }
}


@media only screen and (max-width:359px) {
    #tablaPedidos{ 
        th {
            font-size: 3rem;
        }
    }
    #tablaPedidos{
        tr{
            td {
                font-size:$textoMD;
            }
        }
    }
}

@media only screen and (max-width: 349px) {
    #flexFormFlow {
        h2 {
            width:60%;
            font-size: 19px;
        }
    }
}












