
@media only screen and (max-width:1112px) {
    #tablaPedidos {
        tr {
            td {
                font-size: 35px;
            }
        }
    }
}

@media only screen and (max-width:1062px) {
    #tablaPedidos {
        tr {
        grid-template-columns: 1fr 1fr;
        }
    } 
    #tablaPedidos { 
        img {
            width: 20vw;
        }
    } 
}

@media only screen and (max-width: 832px){
        .flexContainerFooter{
            flex-direction: column;
            width:100%;
            height:auto;
            align-items: center;
            margin: auto;
        }
        footer{
            flex-direction: column;
            width:100%;
            height:16vh;
        }
    }

    @media only screen and (max-width: 768px) {
        #flexFormFlow {
            .botonFileUp {
                width: 50vw;
            }
            .inputFileUp {
                width: 50vw!important;
                height: 10vh!important;
            }
        }
        #flexFormFlow {
            textarea {
                width: 80vw;
            }
        }   
        #flexFormFlow { 
            div {
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                
                }
            }
        }
        #tablaPedidos{ 
            tr {
                grid-template-columns: 1fr;
            }
        }
        #tablaPedidos{ 
            img {
                width: 30vw;
            }
        }
    }

@media only screen and (max-width:622px) {
    header{
        h1{
            font-size: 3rem;
        }
    }
}

@media only screen and (max-width:455px) {
    #tablaPedidos{
        th {
            h2 {
                font-size:$textoMD;
            }
        }
    }
    #flexFormFlow {
        h2 {
            width:80vw;
            font-size: 28px;
        }
        select {
            width:40vw;
        }
    }
}

@media only screen and (max-width:359px) {
    header{
        h1{
            font-size: 3rem;
        }
    }
    #tablaPedidos{ 
        th {
            font-size: 3rem;
        }
    }
    #tablaPedidos{
        tr{
            td {
                font-size:$textoMD;
            }
        }
    }
}












