*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:radial-gradient(circle, rgba(255,59,145,0.2637429971988795) 24%, rgba(226,105,48,0.3169642857142857) 68%), url(../img/textura-papel.jpg);
    font-family:$fuentePrincipal;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

.btnSubmit {
    @include border (solid 1px #4e04988c, 10px, $colorPrimario, #a758f642);
    height: auto!important;
}

.btnSubmit:hover {
    @include border (solid 1px #725d868c, 10px, rgb(230, 200, 213), #6c1bbd86);
}

.contactoInputs {
    width:40vw;
    height:100%;
    font-size: 1rem;
}

.botonFileUp {
    @include border (solid 3px $colorPrimario, 8px, $colorPrimario, none);
    padding: 8px 20px;
    @include fuente ($fuenteSecundaria, center, 28px, 700);
    width:15vw;
    box-shadow: rgba(55, 40, 66, 0.1) 0px 8px 24px, rgba(102, 20, 65, 0.153) 0px 16px 56px, rgba(127, 66, 49, 0.192) 0px 24px 80px;
}

.inputFileUp {
    @include border ($colorSecundario solid 3px, 8px, $colorSecundario, none);
    @include fuente ($fuenteSecundaria, center, 19px!important, 700);
    height:20vh!important;
    width:fit-content;
    align-self: center;
    justify-self: center;
}


.bgMagenta {
    background-color: map-get($map: $bgColors, $key: magenta);
}

.bgCrimson {
    background-color: map-get($map: $bgColors, $key: crimson );
}

.bgPurple {
    background-color: map-get($map: $bgColors, $key: purple);
}

.bgPink {
    background-color: map-get($map: $bgColors, $key: pink);
}
