.entradaMapa {
    animation-name: entradaMapa;
    animation-duration: 4s;
    animation-timing-function: ease-out;
}

.ubicacionFlex {
    @include flex (flex, row wrap, space-around, flex-start);
}

main {
    section {
        h2 {
            font-family:$fuenteTerciaria;
            color:$colorSecundario;
            text-align: center;
        }
        h3 {
            font-family:$fuenteSecundaria;
            color:$colorSecundario;
            text-align: center;
        }
        iframe {
            border:$colorPrimario solid 3px;
            width:60vw;
            height:60vh;
            border-radius: 20px;
        }
    }
}