// .seccionContacto {
//     width:100vw;
//     @extend %columnaFlex;
// }

#flexFormFlow {
    width: 90%;
    @extend %columnaFlex;
    h1,
    h2 {
        @include border ($colorSecundario solid 3px, 10px, $colorSecundario, none);
        font-size:$textoMD;
        background-color: rgba(250, 234, 215, 0.563);
        height: 10vh;
    }
    h1 {
        align-self: center;
        width:85%;
    }
    div {
        label {
            color:$colorSecundario;
        }
        label, select, input {
            font-size: 20px;
        }
        div {
            div{
                width:50%;
            }
        }
    }
    input:not([type=radio]){
        height: 3vh;
    }
    textarea {
            width: 50vw;
            height: 40vh;
            resize: none;
            font-size: 18px;
            outline: none;
            box-shadow: rgb(6 24 44 / 40%) 0px 0px 0px 2px, rgb(6 24 44 / 65%) 0px 4px 6px -1px, rgb(255 255 255 / 8%) 0px 1px 0px inset;
        }
    h3 {
        @include border ($colorPrimario solid 1px, 33px, $colorPrimario, none);
        background: rgba(197,20,58,0.5);
        background: linear-gradient(131deg,rgba(197,20,58,0.5) 20%, rgba(180,16,130,0.5) 60%, rgba(255,0,131,0.5) 99%);
        background: -webkit-linear-gradient(131deg,rgba(197,20,58,0.5) 20%, rgba(180,16,130,0.5) 60%, rgba(255,0,131,0.5) 99%);
        background: -moz-linear-gradient(131deg,rgba(197,20,58,0.5) 20%, rgba(180,16,130,0.5) 60%, rgba(255,0,131,0.5) 99%);
    }
}

