#flexFormFlow {
    flex-flow: column wrap;
    align-items: center;
    h2 {
        color:$colorSecundario;
        font-size:$textoMD;
        background-color: rgba(250, 234, 215, 0.563);
        height: 10vh;
        border: $colorSecundario solid 3px;
    }
    div {
        label {
            color:$colorSecundario;
        }
        label, select, input {
            font-size: 20px;
        }
    }
    input:not([type=radio]){
        height: 3vh;
    }
    textarea {
            width: 40vw;
            height: 40vh;
            resize: none;
            font-size: 18px;
            outline: none;
            box-shadow: rgb(6 24 44 / 40%) 0px 0px 0px 2px, rgb(6 24 44 / 65%) 0px 4px 6px -1px, rgb(255 255 255 / 8%) 0px 1px 0px inset;
        }
    h3 {
        color: $colorPrimario;
        border-radius: 33px 33px 33px 33px;
        -webkit-border-radius: 33px 33px 33px 33px;
        -moz-border-radius: 33px 33px 33px 33px;;
        background: rgba(197,20,58,0.5);
        background: linear-gradient(131deg,rgba(197,20,58,0.5) 20%, rgba(180,16,130,0.5) 60%, rgba(255,0,131,0.5) 99%);
        background: -webkit-linear-gradient(131deg,rgba(197,20,58,0.5) 20%, rgba(180,16,130,0.5) 60%, rgba(255,0,131,0.5) 99%);
        background: -moz-linear-gradient(131deg,rgba(197,20,58,0.5) 20%, rgba(180,16,130,0.5) 60%, rgba(255,0,131,0.5) 99%);
        border: $colorPrimario solid 1px;
    }
}
