main {
    @extend %columnaFlex;
    h1 {
        @extend %bgGradient;
        font-family:$fuenteTerciaria;
        font-size: 3rem;
        text-align: center;
        margin:5rem 5rem;
        height: 10vh;
        width: 50vw;
    }
}

.containerCar {    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px outset;
    @include border (solid 5px #fdefc1, 10px, $colorPrimario, #a758f642);
}

.sizeCar {
    height: 70vh;
    width: 60vw;
}

.serviciosList{
    @include border(double 5px rgb(134, 10, 124), 25%, black, none);
    font-size: 20px;
    line-height: 40px;
    width: 70vw;
    margin-top: 2rem;
}
.serviciosDesplazamientoIzq {
    align-self: flex-start;
}
.serviciosDesplazamientoDer {
    align-self: flex-end;
}

.serviciosImg {
    width:80vw;
    height: 20vh;
    box-shadow: rgba(64, 9, 151, 0.671) 0px 0px 0px 2px, rgba(124, 6, 148, 0.705) 0px 4px 6px -1px, rgba(184, 8, 8, 0.753) 0px 1px 0px inset;
}