// navbar
nav {
    background: #e4305a;
    background: linear-gradient(34deg,#e4305a 0%, #f16330 40%, #e753b1 80%);
    background: -webkit-linear-gradient(34deg,#e4305a 0%, #f16330 40%, #e753b1 80%);
    background: -moz-linear-gradient(34deg,#e4305a 0%, #f16330 40%, #e753b1 80%);
    margin:auto;
    box-shadow: 0px 10px 30px 10px rgba(151,86,121,0.75);
    -webkit-box-shadow: 0px 10px 30px 10px rgba(151,86,121,0.75);
    -moz-box-shadow: 0px 10px 30px 10px rgba(151,86,121,0.75);
    animation-name: aparicionNav;
    animation-duration: 1s;
    animation-timing-function: normal;
    div {
        a{
            img {
                width: 100%;
                height:15vh;
            }
        }
    }
    ul {
        list-style: none;
        li {
            @include fuente ($fuenteSecundaria, left, 30px, bold);
            a{
                text-decoration: none;
                color: antiquewhite;
                display:inline-block;   
                padding: 3vh 2vh; 
                height:auto;
                &:hover {
                    @include border (2px groove rgb(211, 127, 244), 5px, beige!important, none);
                    background: rgba(79, 33, 165, 0.363);
                }
            }
        }
    }
}










