$colorPrimario: rgb(105, 18, 187);
$colorSecundario: #9C004D;

$fuentePrincipal:'Josefin Sans', sans-serif;
$fuenteSecundaria:'Amatic SC', cursive;
$fuenteTerciaria: 'Indie Flowers', cursive;

$textoMD: 2rem;
